
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}



body {
  display: flex;

  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  padding-bottom: 6rem;
}

/*Login*/
h4{
  font-size: 3rem;
  margin-top: 4rem;
 
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 width: 100%;
 height: 100%;
}
.text-area{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 4rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text-input{
  font-size: 1.3rem;
  border-radius: 1.5rem;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 1.5rem;
}

.login-btn{
  margin-top: 1rem;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  background: #B58DED;
  border: none;
  font-size: 1.4rem;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.login{
  margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background: #FFFFFF;
  width: 80%;
  height: 30rem;
 
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
  color: #0E4579;
  font-family: 'Montserrat light';
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}


.login-error {
  margin: 1rem;
}
/*Leaderboard*/

.leaderboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border-radius: 5px;
}

/*navbar*/

.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
 justify-content: center;
  margin-top: 10rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
justify-content: space-evenly;
  text-transform: uppercase;
}

.navbar-link {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-link:hover {
  background: #f1f1f1;
  color: black;
}

.navbar-link.active {
  background-color: #04AA6D;
  color: white;
}

.challenges {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
padding: 3rem;
}

.challenges-toggle {
  padding: 2rem;
  display: flex;
}

.challenges-toggle button {
  padding: 1rem;
  border: none;
  width: 10rem;
}

.status-button-active {
  background-color: #8abbff;
}

.stations h2 {
  margin-bottom: 1rem;
}

.station {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #f1f1f1;
}